# Conda / Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Environments
env/
venv/
*.conda

# Daten (WICHTIG!)
airtrafficsim/airtrafficsim/data/navigation/
airtrafficsim/airtrafficsim/data/result/
airtrafficsim/data/navigation
airtrafficsim/data/result
data/navigation
data/result

# Große Dateien
*.zip
*.dat
*.h5
*.nc
*.csv

# OS
.DS_Store
Thumbs.db
